<div id="accntspg">
  <div id="accntspgcntnts">
    {{! x2 banners }}
    <div id="accntspgcntnts_bnnr">Account Managment</div>
    {{! account details }}
    {{! title bar }}
    <button id="accntspgcntnts_subbnnr">
      <p id="accntspgcntnts_subbnnrlft">Account Details</p>
      <span id="accntspgcntnts_subbnnrrghtBtn">
        <img
          id="accntspgcntnts_subbnnrrghtBtnicn"
          src="dist/icons/down arrow.svg"
          width="5"
        />
      </span>
    </button>
    {{! info }}
    <div id="accntspgcntnts_accntdtls">
      <div id="accntspgcntnts_ldngicn"><img
          class="ldngicn"
          width="30"
          src="dist/icons/loading.svg"
          alt=""
        /></div>
    </div>

    {{! Password Mnagment }}
    {{! title bar }}
    <button id="accntspgcntnts_bnnrpwsmngmnt">
      <p class="accntspgcntnts_genericttlbnnr">Password Management</p>
      <span class="accntspgcntnts_genericttlbnnricnpnl">
        <img
          class="accntspgcntnts_genericttlbnnricn"
          id="accntspgcntnts_genericttlbnnricnid"
          src="dist/icons/down arrow.svg"
          width="5"
        />
      </span>
    </button>
    {{! Info }}
    <div id="accntspgcntnts_accntdtls2">
      {{! old password }}
      <label for="accntspgcntnts_oldpwdinpt">Old Password</label>
      <div class="accntspgcntnts_inptcrdcl">
        <input
          id="accntspgcntnts_oldpwdinpt"
          name="accntspgcntnts_oldpwdinpt"
          placeholder="Enter Password"
          type="password"
          class="accntspgcntnts_inptcl"
          required
        />
        <button
          id="accntspgcntnts_oldpwdinpt_seepwdicn"
          class="accntspgcntnts_pwd_seepwdicnimg"
        ><img
            id="accntspgcntnts_oldpwdinpt_seepwdicnimg"
            src="dist/icons/open-eye.svg"
            width="17"
          /></button>
      </div>
      {{! forgot password }}
      <button id="lgn_frgtpwdBtn">Forgot Password</button>
      <br /><br /><br />
      {{! new passsword }}
      <label for="accntspgcntnts_newpwdinpt">New Password</label>
      <div class="accntspgcntnts_inptcrdcl">
        <input
          id="accntspgcntnts_newpwdinpt"
          name="accntspgcntnts_newpwdinpt"
          placeholder="Create Password"
          type="password"
          class="accntspgcntnts_inptcl"
          required
        />
        <button
          id="accntspgcntnts_newpwdinpt_seepwdicn"
          class="accntspgcntnts_pwd_seepwdicnimg"
        ><img
            id="accntspgcntnts_newpwdinpt_seepwdicnimg"
            src="dist/icons/open-eye.svg"
            width="17"
          /></button>
      </div>
      {{! confirm passsword }}
      <label for="accntspgcntnts_cnfrmpwdinpt">Confirm Password</label>
      <div class="accntspgcntnts_inptcrdcl">
        <input
          id="accntspgcntnts_cnfrmpwdinpt"
          name="accntspgcntnts_cnfrmpwdinpt"
          placeholder="Confirm Password"
          type="password"
          class="accntspgcntnts_inptcl"
          required
        />
        <button
          id="accntspgcntnts_cnfrmpwdinpt_seepwdicn"
          class="accntspgcntnts_pwd_seepwdicnimg"
        ><img
            id="accntspgcntnts_cnfrmpwdinpt_seepwdicnimg"
            src="dist/icons/open-eye.svg"
            width="17"
          /></button>
      </div>

      <button id="accntspgcntnts_svaccntsdtlsBtn">Save Changes</button>
    </div>

    <br /><br />
    <div id="accntspgcntnts_lgnoutBtnpnl">
      <button id="accntspgcntnts_lgnoutBtn"><img
          class="logouticn"
          width="12"
          src="dist/icons/logout.svg"
          alt=""
        />Log out</button>
    </div>
  </div>

</div>