<div id="hlppg">
  <div id="hlppgcntnts">
    <div>
      <div id="dwnldpgcntnts_img"><img
          src="dist/imgs/annoucement_unavailable.webp"
          width="55"
        /></div>
      <p id="hlppgcntnts_txt">No Annoucements Available</p>
    </div>
  </div>

</div>