<div id="chtpg">
  <div id="chtpgcntnts">
    {{! top chat profile banner }}
    <div id="chtpg_prflusrmgspnl">
      <div id="chtpg_prflusrmgspnlrghtclschtmgspnlbtn">
        <img
          id="chtpg_prflusrmgspnlrghtclschtmgsBtn"
          src="dist/icons/back_arrow.svg"
          width="10"
          alt=""
        />
      </div>
      <div id="chtpg_prflusrmgspnllogo">
        <img src="dist/imgs/fmjr_stores_pw.webp" width="30" />
      </div>
      <div id="chtpg_prflusrmgspnlrght">
        <p id="chtpg_prflusrmgspnlrghtttl">fmjr_stores Customer Service</p>
        <p id="chtpg_prflusrmgspnlrghtdscrptn">Customer Service Messages</p>
      </div>
      <div>
        <img
          id="chtpg_prflusrmgspnlrghtdotmenuBtn"
          src="dist/icons/three menu.svg"
          width="20"
          alt=""
        />
      </div>
    </div>
    {{! messages }}
    <div id="chtpg_mgspnl">
      <div id="chtpg_mgspnlgenericimg">
        <div id="chtpg_mgspnlgenericimgthumb"><img
            src="dist/imgs/mgs_available_thumg.webp"
            width="40"
          /></div>
        <p id="chtpg_mgspnlgenericimgtxt">No Messages Available</p>
      </div>
    </div>
    {{! typying section }}
    <div id="chtpg_typngmgspnl">
      <div id="chtpg_typngmgspnlcntnts">
        <div id="chtpg_inptcrdcl">
          <button id="chtpg_inptcrdcladdattcmntBtn">
            <img
              id="chtpg_typngmgspnlattcmntBtn"
              src="dist/icons/add_attachment.svg"
              width="10"
              alt=""
            />
          </button>
          <textarea
            id="chtpg_typngmgspnltxtarainpt"
            name="chtpg_typngmgspnltxtarainpt"
            placeholder="Messsage"
            rows="1"
            style="resize: none;"
            spellcheck="false"
            autocomplete="off"
            autocorrect="off"
            autocapitalize="none"
            placeholder="lessage"
          ></textarea>
        </div>

        <button id="chtpg_typngmgspnlbtnpnl">
          <img
            id="chtpg_typngmgspnlBtn"
            src="dist/icons/send_message.svg"
            width="17"
            alt=""
          /></button>
      </div>
    </div>
  </div>
</div>