<div id="fdbkpg">
  <div id="fdbkpgcntnts">
    {{! default }}
    {{!     <img
      class="ldngicn"
      width="30"
      src="dist/icons/loading.svg"
      alt=""
    /> }}
    {{! feed }}
    <div id="fdbkpg_fdcardpnl">
      {{! top }}
      <div id="fdbkpg_fdcardpnltop">
        <div id="fdbkpg_fdcardpnltopgeric">
          <div id="fdbkpg_fdcardpnltopgericimg">
            <img src="dist/imgs/feedmsg_unavailable.webp" width="55" /></div>
          <p id="fdbkpg_txt">No Feedback Messages</p>
        </div>

      </div>
    </div>
  </div>
</div>