<div id="frgotpwdpg">
  <div id="frgotpwdpgcntnts">
    <div id="frgotpwdpgcntnts_tplogo">
      <img src="assets/logos/fmjr_stores official.png" width="25" alt="" />
    </div>
    <p id="frgotpwd_ttl">Forgot your password</p>
    <p id="frgotpwd_dscrptn">A password reset link will be sent to the email
      associated with your account.</p>
    <br />
    <div class="frgotpwd_inptcrdcl"><input
        type="frgotpwd_eml"
        id="frgotpwd_eml"
        name="email"
        placeholder="Enter Email Address"
        class="frgotpwd_inptcl"
        required
      /></div>

    <button id="frgotpwd_crtaccntBtn">Submit</button>
  </div>
</div>