<div id="lgnpg">
  <div id="lgnpgcntnts">
    <p>Login to Your Account</p>
    <input
      type="sgnup_eml"
      id="sgnup_eml"
      name="email"
      placeholder="Your Email Address"
      required
    />

    <input
      type="sgnup_pwd"
      id="sgnup_pwd"
      name="sgnup_pwd"
      placeholder="Create Password"
      required
    />
    <p>Forgot Password</p>
    <br /><br />
    <button id="sgnup_crtaccntBtn">Log In</button>
    <br />
    <p id="sgnup_lgntxtlink">Create An Account</p>
  </div>
</div>