<div id="lgnpg">
  <div id="lgnpgcntnts">
    <br /><br />
    <div id="lgnpgcntnts_tplogo">
      <img src="assets/logos/fmjr_stores official.png" width="25" alt="" />
    </div>
    <p id="lgn_ttl">Login</p>
    <div class="lgn_inptcrdcl"><input
        type="sgnup_eml"
        id="sgnup_eml"
        name="email"
        placeholder="Your Email Address"
        class="lgn_inptcl"
        required
      /></div>
    <div class="lgn_inptcrdcl">
      <input
        type="password"
        id="lgn_pwd"
        name="lgn_pwd"
        placeholder="Enter Password"
        class="lgn_inptcl"
        required
      />
      <button id="lgn_pwd_seecnfrmpwdicn">
        <img
          id="lgn_pwd_seecnfrmpwdicnimg"
          src="dist/icons/open-eye.svg"
          width="17"
        />
      </button></div>
    <p id="lgn_frgtpwdBtn">Forgot Password</p>
    <br /><br />
    <button id="lgn_crtaccntBtn">Log In</button>
    <br /><br />
    <p id="lgn_sgnuptxtlink">Create An Account</p>
    <br /><br />
  </div>
</div>