<div id="notfypg">
  <div id="notfypgcntnts">
    <div id="notfypgcntnts_img"><img
        src="dist/imgs/notfy_unavailable.webp"
        width="55"
      /></div>
    <p id="notfypgcntnts_txt">Notification Dashboard Empty</p>
  </div>
</div>