<div id="portfoliosctn">
  <div id="portfoliosctncntnts">
    <br /><br />
    <span><img
        class="ldngicn"
        width="30"
        src="dist/icons/loading.svg"
        alt=""
      /></span>
    <br /><br /><br /><br />
  </div>
</div>