<div id="rvwpg">
  <div id="rvwpgcntnts">
    <p id="rvwpg_ttl">Review & Suggestions</p>
    {{! email }}
    <label for="rvwpg_eml">Email Address</label>
    <div class="rvwpg_inptcrdcl">
      <input
        type="rvwpg_eml"
        id="rvwpg_eml"
        name="email"
        placeholder="Enter Email Address"
        class="rvwpg_inptcl"
        required
      />
    </div>
    {{! txt box }}
    <label for="rvwpg_rvwbox">Review & Suggestions</label>
    <textarea
      id="rvwpg_rvwbox"
      class="accntspgcntnts_subbnnrclndrsec_dscrptnbox"
      rows="5"
      cols="40"
      placeholder="Review text here"
    ></textarea>
    {{! bulleting }}
    <div id="rvwpgcntnts_bulleting">
      <p class="rvwpgcntnts_bulletingtxt"><img
          src="dist/icons/check.svg"
          class="rvwpgcntnts_bulleting_linksclicn"
          width="12"
        />Keep your review or suggestions on point and dear.</p>
      <p class="rvwpgcntnts_bulletingtxt"><img
          src="dist/icons/check.svg"
          class="rvwpgcntnts_bulleting_linksclicn"
          width="12"
        />Provide valid Email Address. Response will be sent to it.</p>
    </div>
    <button id="rvwpg_rvwBtn">Submit</button>
  </div>
</div>