<div id="sgnuppg">
  <div id="sgnuppgcntnts">
    <br /><br />
    <div id="sgnuppgcntnts_tplogo">
      <img src="assets/logos/fmjr_stores official.png" width="25" alt="" />
    </div>
    <p id="sgnup_ttl">Sign Up</p>
    {{! name }}
    {{!     <div class="sgnup_inptcrdcl">
      <input
        type="text"
        id="sgnup_usrnm"
        name="sgnup_usrnm"
        placeholder="Your Username"
        class="sgnup_inptcl"
        required
      />
    </div> }}
    {{! email }}
    <div class="sgnup_inptcrdcl">
      <input
        type="sgnup_eml"
        id="sgnup_eml"
        name="email"
        placeholder="Your Email Address"
        class="sgnup_inptcl"
        required
      />
    </div>
    {{! password }}
    <div class="sgnup_inptcrdcl">
      <input
        id="sgnup_pwd"
        name="sgnup_pwd"
        placeholder="Create Password"
        type="password"
        class="sgnup_inptcl"
        required
      />
      <button id="sgnup_pwd_seepwdicn"><img
          id="sgnup_pwd_seepwdicnimg"
          src="dist/icons/open-eye.svg"
          width="17"
        /></button>

    </div>
    {{! confirm password }}
    <div class="sgnup_inptcrdcl">
      <input
        id="sgnup_cnfrmpwd"
        name="sgnup_cnfrmpwd"
        placeholder="Confirm Password"
        type="password"
        class="sgnup_inptcl"
        required
      />
      <button id="sgnup_pwd_seecnfrmpwdicn">
        <img
          id="sgnup_pwd_seecnfrmpwdicnimg"
          src="dist/icons/open-eye.svg"
          width="17"
        />
      </button>

    </div>
    <br /><br />
    <button id="sgnup_crtaccntBtn">Create Account</button>
    <br />
    <p id="sgnup_subtxt">By clicking
      <strong> 'Create Account'</strong>, I agree to
      <strong>fmjr_stores' Terms of Service, Privacy</strong>
      and
      <strong>Policy</strong>.</p>
    <br />
    <p id="sgnup_lgntxtlink">Already have an account?
      <span id="rtntolgnpglnkBtn">Log In</span></p>
    <br /><br />
  </div>
</div>