<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {{! favicon }}

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="assets/favicon/site.webmanifest" />

    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    {{! meta keys }}
    <meta name="keywords" content="torrent" />
    <meta
      name="description"
      content="A centralized place for Graphics, Web & Desktop App
Development Services, Crash & Normal Course Classes,
Books on Sale, Digital Art, and many more."
    />
    <meta name="subject" content="Online Store" />
    <meta name="og:url" content="https://fmjrstores/" />
    <meta name="og:title" content="fmjr_stores" />
    <meta name="DC.title" content="fmjr_stores" />
    <meta name="author" content="fmjr_stores" />
    <meta
      name="og:image"
      content="https://guest.alwaysdata.net/assets/logos/fmjr_stores.png"
    />
    <meta
      name="og:description"
      content="A centralized place for Graphics, Web & Desktop App
Development Services, Crash & Normal Course Classes,
Books on Sale, Digital Art, and many more."
    />
    <meta name="og:site_name" content="fmjr_stores" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />
    {{! css }}
    <link href="dist/css/app.css" rel="stylesheet" />
    <link href="dist/css/anima.css" rel="stylesheet" />
    <title>fmjr_stores</title>
  </head>
  <body>

    <div id="home">
      {{! banner }}
      <div id="bannr1">
        <div id="bannr1Cntnts">
          <span class="bnnrsclscl">
            <a href="mailto:fredmjr37@gmail.com" class="atagscialscl"><img
                id="emlicn"
                src="dist/icons/contact.svg"
                class="bnnricons"
              />
              <span id="emlsclsid">
                fredmjr37@gmail.com</span></a>
          </span>
          <span class="bnnrsclscl"><img
              id="cntntsicn"
              src="dist/icons/email.svg"
              class="bnnricons"
            />
            <a class="atagscialscl" href="tel:0975986004">+260975986004</a>
            /
            <a class="atagscialscl" href="tel:0760932304">+260760932304</a>
          </span>
        </div>
      </div>

      {{! Navbar }}
      <div id="navbar">
        <div id="navbar_cntnts">
          {{! left navbar }}
          <div id="navbr_lft">
            <button id="fmjrnvbrlgBtn">
              <img
                src="assets/logos/fmjr_stores official.png"
                width="25"
                alt=""
              />
              <img src="assets/logos/fmjr_stores ttl.png" width="55" alt="" />
            </button>

          </div>
          {{! right navbar }}
          <div id="navbr_rght">
            <div id="purchase_pnl">
              <button id="notifyBtn">
                <div id="notifyinfo">0</div>
                <img src="dist/icons/notify.svg" width="20" alt="" />
              </button>
              <button id="basketBtn">
                <div id="basketinfo">0</div>
                <img src="dist/icons/basket v2.svg" width="20" alt="ccc" />
              </button>
            </div>
            <button id="navbrsgnupBtn">Sign up for free</button>
            <button id="navbrloginBtn">Log in</button>
            <button id="navbrmenuBtn"><img
                id="navbrmenuicon"
                src="dist/icons/menu.svg"
                class="app-icon"
              />
              <div id="navbrmenudrpdwn">
                <p id="sttngsttl">
                  <span id="sttngstxt">
                    <img id="sttngsicn" src="dist/icons/settings.svg" alt="" />
                    Settings
                  </span>
                  <span id="sttngsclsBtn">x</span></p>
                <div class="sttngscrd">
                  <p>Dark mode</p>
                  <div id="drkmdBtn">
                    <span id="offid">off</span>
                    <div id="mdcrcl">
                      <img
                        class="cirlccl"
                        src="dist/icons/circle.svg"
                        alt=""
                      /></div></div>
                </div>

                <br />
                <div id="sttngsftr">
                  <div id="sttngsftrlnks">
                    <span>Privacy</span>
                    .
                    <span>Terms of use</span>
                    .
                    <span>Help</span>
                    .
                    <span>Feedback </span>
                  </div>

                  <p id="sttngsftrendnote">Be part of the digital customer
                    community by subscribing to tatored web developement
                    subscription projects</p>
                </div>
              </div>
            </button>

          </div>
        </div>
      </div>

      {{!  category}}
      <div id="ctgry">
        <div id="ctgry_cntnts">
          <div id="ctgry_ttl">
            <span>
              <img
                id="ctgry_ttlicon"
                src="dist/icons/three menu.svg"
                width="15"
                class="app-icon"
              />
            </span>
            Categories
          </div>
          <div id="ctgry_ctgries">
            <div id="ctgryctgries_cntnts">
              <button class="ctgryctgries_cntntsBtns">
                <img
                  class="ctgryctgries_icnscl"
                  src="dist/icons/chat_messages.svg"
                  width="15"
                />Chat / Messages</button>
              <button class="ctgryctgries_cntntsBtns">
                <img
                  class="ctgryctgries_icnscl"
                  src="dist/icons/annoucement.svg"
                  width="15"
                />Announcements</button>
              <button class="ctgryctgries_cntntsBtns"><img
                  class="ctgryctgries_icnscl"
                  src="dist/icons/calendar.svg"
                  width="15"
                />Calendar</button>
              <button class="ctgryctgries_cntntsBtns"><img
                  class="ctgryctgries_icnscl"
                  src="dist/icons/events.svg"
                  width="15"
                />Events & Schedules
              </button>

              <button class="ctgryctgries_cntntsBtns"><img
                  class="ctgryctgries_icnscl"
                  src="dist/icons/faqs.svg"
                  width="15"
                />FAQs</button>
            </div>
            <div id="ctgry_menu">
              <button id="ctgry_menuBtn">
                <span>
                  <img
                    id="ctgry_menuBtnlicon"
                    src="dist/icons/semi menu.svg"
                    width="15"
                    class="app-icon"
                  />
                </span>
                Updates
              </button>
            </div>
          </div>
        </div>
      </div>

      {{! main }}
      <div id="main">
        {{! hero }}
        <div id="hero">
          <div id="sidemenu">
            <div class="sidemenuCtrycl">
              <span>
                <img src="dist/icons/home.svg" width="12" class="app-icon" />
              </span>
              Home</div>
            <div class="sidemenuCtrycl">
              <span>
                <img src="dist/icons/form.svg" width="15" class="app-icon" />
              </span>Portfolio</div>
            <div class="sidemenuCtrycl">
              <span>
                <img src="dist/icons/pen.svg" width="15" class="app-icon" />
              </span>Graphics</div>
            <div class="sidemenuCtrycl">
              <span>
                <img src="dist/icons/domain.svg" width="12" class="app-icon" />
              </span>Web Dev</div>
            <div class="sidemenuCtrycl">
              <span>
                <img
                  src="dist/icons/improvement.svg"
                  width="15"
                  class="app-icon"
                />
              </span>
              Desktop Dev</div>
            <div class="sidemenuCtrycl">
              <span>
                <img
                  src="dist/icons/online-edu.svg"
                  width="15"
                  class="app-icon"
                />
              </span>Courses</div>
            <div class="sidemenuCtrycl"><span>
                <img
                  src="dist/icons/open-book.svg"
                  width="13"
                  class="app-icon"
                />
              </span>Author/Books</div>
            <div class="sidemenuCtrycl">
              <span>
                <img
                  src="dist/icons/show-room.svg"
                  width="15"
                  class="app-icon"
                />
              </span>Show room</div>
            <div class="sidemenuCtrycl"><span>
                <img
                  src="dist/icons/social-network.svg"
                  width="15"
                  class="app-icon"
                />
              </span>Social channels</div>
            <div class="sidemenuCtrycl">
              <span>
                <img src="dist/icons/ad.svg" width="15" class="app-icon" />
              </span>Ads-workspace</div>
            <div class="sidemenuCtrycl">
              <span>
                <img
                  src="dist/icons/workspace.svg"
                  width="15"
                  class="app-icon"
                />
              </span>
              fmjr-Graphics Workspace</div>
            <div class="sidemenuCtrycl"><span>
                <img
                  src="dist/icons/negotiation.svg"
                  width="15"
                  class="app-icon"
                />
              </span>Cliental</div>

          </div>
          <div id="header">
            <div id="header_thmub">
              <div id="header_thmublft">
                <p id="tophdrttl">Welcome to fmjr_stores</p>
                <p id="tophdrdscptn">A Centralized Online Store.</p>
                <p id="tophdrsubdscptn">A centralized place for Graphics, Web &
                  Desktop AppDevelopment Services, Crash & Normal Course
                  Classes, Books on Sale, Digital Art, and many more.</p>
                <br />
                <div id="tophdrgetsrttdBtnPnl">
                  <button class="tophdrgetsrttdBtn">Get Started</button>
                </div>
              </div>
              <div id="header_thmubrght">
                <div id="header_thmubrghtdtls">
                  <img
                    id="header_thmubrghtdtlsImg"
                    src="dist/imgs/welcome.webp"
                    {{!                     width="80%" }}
                    alt=""
                  />
                </div>
                <div id="header_thmubrghtthumb">
                  <div id="header_thmubrghtthumbCntnts">
                    <div class="htumbscrllr"></div>
                  </div>

                </div>
              </div>
            </div>
            <div id="header_ftr">
              <div class="headerftr_crd">
                <span>
                  <img
                    src="dist/icons/shop.svg"
                    width="25"
                    class="headerftr_crdicon"
                  />
                </span>
                <div class="headerftr_crdlwrinfo">
                  <p class="headerftr_crdtll">Easy start, buy or track</p>
                  <p class="headerftr_crddscptn">Single click buy, encroll or
                    track project</p>
                </div>
              </div>
              <div class="headerftr_crd">
                <span>
                  <img
                    src="dist/icons/credit-card.svg"
                    width="25"
                    class="headerftr_crdicon"
                  />
                </span>
                <div class="headerftr_crdlwrinfo">
                  <p class="headerftr_crdtll">Secure payment</p>
                  <p class="headerftr_crddscptn">100% payment security</p>
                </div>
              </div>
              <div class="headerftr_crd"><span>
                  <img
                    src="dist/icons/customer-service.svg"
                    width="25"
                    class="headerftr_crdicon"
                  />
                </span>
                <div class="headerftr_crdlwrinfo">
                  <p class="headerftr_crdtll">Customer Support</p>
                  <p class="headerftr_crddscptn">Customer support availability</p>
                </div></div>
              <div class="headerftr_crd"><span>
                  <img
                    src="dist/icons/buy.svg"
                    width="25"
                    class="headerftr_crdicon"
                  />
                </span>
                <div class="headerftr_crdlwrinfo">
                  <p class="headerftr_crdtll">Shop with Easy</p>
                  <p class="headerftr_crddscptn">Shop with a peace of mind</p>
                </div></div>
            </div>
          </div>
          <div id="hero_todayspecial">
            <div id="hero_todayspecialcrd">
              <div id="hero_todayspecialcrdcntnts">

                <div>
                  <div id="disntmainprctagthumbnl">
                    <div id="disntmainprctagthumbnlimgpnl">
                      <div id="hero_todayspecialcrdpricstag">
                        9%
                        <br />
                        <p id="disntmainprctagdscptn">OFF</p>
                      </div>
                      <img
                        id="disntmainprctagthumbnlimg"
                        src="dist/imgs/graphics_design_crash_course_v2.webp"
                        {{! width="80%" }}
                        alt="graphics_design_crash_course"
                      />
                    </div>

                  </div>
                  <br />
                  <p id="disntmainprctagmainttl1">Graphics Design</p>
                  <p id="disntmainprctagmainttl2">Crash Course</p>
                  {{!  <div id="disntmainprctagmaindscrptn">
                    Upscale your graphics design skills with a simple graphics
                    design crash course guide.</div> }}
                  <p id="disntdmainprice"><s>K550.00</s></p>
                  <p id="disntmainprice">K500</p>
                  <p id="disntmainpricepermnth">(per month x3)</p>
                  <br />
                  <br />
                  <div id="disntmainprctagbtn_pnl">
                    <button id="disntmainprctagBtn">Enroll now</button></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {{! todayspecial 2 }}
        <div id="hero_todayspecial2">
          <div id="hero_todayspecialcrd2">
            <div id="hero_todayspecialcrd2rlft">
              <div id="hero_todayspecialcrd2rlftpricstag">
                9%
                <br />
                <p id="hero_todayspecialcrdpricstagoff">OFF</p>
              </div>
              <img
                id="hero_todayspecialcrd2rlftimg"
                src="dist/imgs/graphics_design_crash_course_v2.webp"
                alt="graphics_design_crash_course"
              />
            </div>
            <div id="hero_todayspecialcrd2rght">
              <div id="hero_todayspecialcrd2rghttop">
                <p id="hero_todayspecialcrd2rghtttl">Web Development Class</p>
                <p id="hero_todayspecialcrd2rghtdscrptn">Start coding your
                  future today. Master front-end and back-end skills.</p>
              </div>

              <button id="hero_todayspecialcrd2rghtBtn">Enroll Now</button>
            </div>
            <div id="hero_todayspecialcrd2mid">

              <div id="hero_todayspecialcrd2midcntnts1">
                <p id="hero_todayspecialcrd2midcntnts1prsubctag"><s
                  >K550.00</s></p>
                <p id="hero_todayspecialcrd2midcntnts1prctag">K500</p>
                <p id="hero_todayspecialcrd2midcntnts1permnth">(per month x3)</p></div>
              <div id="hero_todayspecialcrd2midcntnts2">9% OFF</div>
            </div>
          </div>
        </div>
        {{! semi hero }}
        <div id="semi_hero">
          {{!  Web dev Class}}
          <div class="semiheropromocard_crds">
            <div class="semiheropromocard_crdslft">
              <p class="semiheropromocard_crdslftttl">Web Development Class</p>
              <p class="semiheropromocard_crdslftdscrptn">Start coding your
                future today. Master front-end and back-end skills.</p>
              <button class="semiheropromocard_crdslftBtn">Get Started</button>
            </div>
            <div class="semiheropromocard_crdslftrght">
              <img
                class="semiheropromocard_crdslftrghtimg"
                src="dist/imgs/default_no_img.webp"
                {{! width="80%" }}
                alt="default_no_img"
              />
            </div>
          </div>
          {{! Desktop dev Class }}
          <div class="semiheropromocard_crds">
            <div class="semiheropromocard_crdslft">
              <p class="semiheropromocard_crdslftttl">Desktop Development Class</p>
              <p class="semiheropromocard_crdslftdscrptn">Master Windows app
                development, design UIs, handle data and ship professional
                software.</p>
              <button class="semiheropromocard_crdslftBtn">Get Started</button>
            </div>
            <div class="semiheropromocard_crdslftrght">
              <img
                class="semiheropromocard_crdslftrghtimg"
                src="dist/imgs/default_no_img.webp"
                {{! width="80%" }}
                alt="default_no_img"
              />
            </div>
          </div>
          {{! Web dev Pricing }}
          <div class="semiheropromocard_crds">
            <div class="semiheropromocard_crdslft">
              <p class="semiheropromocard_crdslftttl">Web Development Pricing</p>
              <p class="semiheropromocard_crdslftdscrptn">Clear pricelist for
                every project. Choose a plan that fits your budget.</p>
              <button class="semiheropromocard_crdslftBtn">Check Pricelist</button>
            </div>
            <div class="semiheropromocard_crdslftrght">
              <img
                class="semiheropromocard_crdslftrghtimg"
                src="dist/imgs/default_no_img.webp"
                {{! width="80%" }}
                alt="default_no_img"
              />
            </div>
          </div>
          {{! Desktop dev Pricing }}
          <div class="semiheropromocard_crds">
            <div class="semiheropromocard_crdslft">
              <p class="semiheropromocard_crdslftttl">Desktop Development
                pricing</p>
              <p class="semiheropromocard_crdslftdscrptn">Fair rates,
                professional results. Transparent pricing so you know costs
                before we start.</p>
              <button class="semiheropromocard_crdslftBtn">Check Pricelist</button>
            </div>
            <div class="semiheropromocard_crdslftrght">
              <img
                class="semiheropromocard_crdslftrghtimg"
                src="dist/imgs/default_no_img.webp"
                {{! width="80%" }}
                alt="default_no_img"
              />
            </div>
          </div>
        </div>

        {{! newletter }}
        <div id="newsletter">
          <div id="newsletter_cntnts">
            <div id="newslettercntnts_card">
              <div id="newslettercntnts_cardleft">
                <div id="newsletterplank"></div>
                <p id="newsletterstycnntdtxt">Stay Connected</p>
              </div>

              <div id="newsletterssubpnl">
                <input
                  type="text"
                  name="newsletterinput"
                  id="newsletterinput"
                  placeholder="Get coupons, offers, and more."
                />
                <button id="newslettersubscrptnBtn">Subscribe</button>

              </div>
            </div>
          </div>
        </div>
      </div>

      {{! footer }}
      <div id="ftr">
        <div id="quklnks">
          <div id="quklnks_brf">
            {{! store description }}
            <div id="quklnksbrflft">
              <div id="quklnksbrflftlogopnl">
                <img
                  id="quklnksbrflftlogo"
                  src="assets/logos/fmjr_stores official2.png"
                  alt=""
                />
              </div>
              <p id="quklnksbrflftdscrptn">A centralized place for digital
                content; Graphics Design, Web & Desktop Development, Crash &
                Normal Courses, Fred Musonda jr's books, and many more.</p>
            </div>
            {{! social handles }}
            <div id="quklnksbrflrght">
              <p id="Sclhndls">Social handles</p>
              <div id="quklnksbrflrghtpnl">
                {{! whatsapp messenger }}
                {{!--                 <div class="quklnksbrf_sclsicnscrd">
                  <img
                    class="quklnksbrf_sclsicns"
                    src="dist/icons/whatsapp_messenger.svg"
                    class="app-icon"
                  />
                  <p class="quklnksbrf_sclsicnsinfo">Whatsapp Messenger</p>
                </div>
                {{! whatsapp business}}
                <div class="quklnksbrf_sclsicnscrd">
                  <img
                    class="quklnksbrf_sclsicns"
                    src="dist/icons/whatsapp_business.svg"
                    class="app-icon"
                  />
                  <p class="quklnksbrf_sclsicnsinfo">Whatsapp Business</p>
                </div> --}}
                {{! Facebook}}
                <div class="quklnksbrf_sclsicnscrd">
                  <a
                    class="scliconBtnCl"
                    href="https://www.facebook.com/share/1E54TZ5cx3oE9F58/?mibextid=qi2Omg"
                  >
                    <img
                      class="quklnksbrf_sclsicns"
                      src="dist/icons/facebook.svg"
                      class="app-icon"
                    />
                    <p class="quklnksbrf_sclsicnsinfo">Facebook</p>
                  </a>
                </div>
                {{! Instagram}}
                <div class="quklnksbrf_sclsicnscrd">
                  <a
                    class="scliconBtnCl"
                    href="https://www.instagram.com/fred_mjr37?igsh=OGQ5ZDc2ODk2ZA=="
                  >
                    <img
                      class="quklnksbrf_sclsicns"
                      src="dist/icons/instagram.svg"
                      class="app-icon"
                    />
                    <p class="quklnksbrf_sclsicnsinfo">Instagram</p>
                  </a>
                </div>
                {{! Linkedin}}
                <div class="quklnksbrf_sclsicnscrd">
                  <a
                    class="scliconBtnCl"
                    href="https://zm.linkedin.com/in/fred-mjr-24473b360"
                  >
                    <img
                      class="quklnksbrf_sclsicns"
                      src="dist/icons/linkedin.svg"
                      class="app-icon"
                    />
                    <p class="quklnksbrf_sclsicnsinfo">Linkedin</p>
                  </a>
                </div>
                {{! Linkedin}}
                <div class="quklnksbrf_sclsicnscrd">
                  <a
                    class="scliconBtnCl"
                    href="https://www.behance.net/freddiestein"
                  >
                    <img
                      class="quklnksbrf_sclsicns"
                      src="dist/icons/behance.svg"
                      class="app-icon"
                    />
                    <p class="quklnksbrf_sclsicnsinfo">Behance</p>
                  </a>
                </div>

              </div>

            </div>
          </div>
          {{! quick limks }}
          <div id="quklnks_scls">
            <div class="quklnksscls_crd">
              <p class="quklnksscls_crdttl">Why fmjr_stores?</p>
              <p class="quklnksscls_crdlnks">Why fmjr_stores</p>
              <p class="quklnksscls_crdlnks">Events</p>
              <p class="quklnksscls_crdlnks">Announcements</p>
              <p class="quklnksscls_crdlnks">Promotions</p>
              <p class="quklnksscls_crdlnks">Help center</p>
              <p class="quklnksscls_crdlnks">Contact us</p>
            </div>
            {{! About }}
            <div class="quklnksscls_crd">
              <p class="quklnksscls_crdttl">About</p>
              <p class="quklnksscls_crdlnks">About us</p>
              <p class="quklnksscls_crdlnks">Blog</p>
              <p class="quklnksscls_crdlnks">Terms & Conditions</p>
              <p class="quklnksscls_crdlnks">Privacy Policy</p>
              <p class="quklnksscls_crdlnks">Cookies Policy</p>
            </div>
            {{! Payments }}
            <div class="quklnksscls_crd">
              <p class="quklnksscls_crdttl">Payments</p>
              <p class="quklnksscls_crdlnks">Track Order</p>
              <p class="quklnksscls_crdlnks">Payment Methods</p>
              <p class="quklnksscls_crdlnks">Track Order</p>
            </div>
            {{! contacts }}
            <div class="quklnksscls_crd">
              <p class="quklnksscls_crdttl">
                Contact info</p>
              <p class="quklnksscls_crdcntcts">
                <a class="scliconBtnCl" href="https://wa.me/260975986004">
                  <img
                    class="quklnksbrf_sclsicns"
                    src="dist/icons/whatsapp_messenger.svg"
                    class="app-icon"
                  />Whatsapp Message
                </a>
              </p>
              <p class="quklnksscls_crdcntcts">
                <a class="scliconBtnCl" href="https://wa.me/260760932304">
                  <img
                    class="quklnksbrf_sclsicns"
                    src="dist/icons/whatsapp_business.svg"
                    class="app-icon"
                  />Whatsapp Business</a></p>

              <p class="quklnksscls_crdcntcts">
                <img
                  class="quklnksbrf_sclsicns"
                  src="dist/icons/contact.svg"
                  class="app-icon"
                /><a
                  class="quklnksscls_crdphn"
                  href="tel:0975986004"
                >+260975986004</a>/<a
                  class="quklnksscls_crdphn"
                  href="tel:0760932304"
                >+260760932304</a></p>

              <p class="quklnksscls_crdcntcts">
                <a
                  href="mailto:fredmjr37@gmail.com"
                  class="scliconBtnCl"
                  href="https://www.facebook.com/share/1E54TZ5cx3oE9F58/?mibextid=qi2Omg"
                >
                  <img
                    class="quklnksbrf_sclsicns"
                    src="dist/icons/email.svg"
                    class="app-icon"
                  />fredmjr37@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div id="dvdr"></div>

        {{! note }}
        <div id="end_note">
          <div id="endnote_lft">
            Copyright @ 2026 fmjr_stores . All Rights Reserved
          </div>
          <div id="endnote_rght">
            <span>
              <img
                class="endnoterghticns"
                src="dist/imgs/Visa.webp"
                alt="graphics_design_crash_course"
              />
            </span>
            <span>
              <img
                class="endnoterghticns"
                src="dist/imgs/Mastercard.webp"
                alt="graphics_design_crash_course"
              />
            </span>
            <span>
              <img
                class="endnoterghticns"
                src="dist/imgs/Airtel.webp"
                alt="graphics_design_crash_course"
              />
            </span>
            <span>
              <img
                class="endnoterghticns"
                src="dist/imgs/MTN.webp"
                alt="graphics_design_crash_course"
              />
            </span>
            <span>
              <img
                class="endnoterghticns"
                src="dist/imgs/Zamtel.webp"
                alt="graphics_design_crash_course"
              />
            </span>
          </div>
        </div>
      </div>
    </div>

    <script src="src/js/app.js"></script>
    <script src="src/js/anima.optm.js"></script>
    <script src="src/js/app.uiux.js"></script>
    {{!  <script src="src/js/js.prttn.script.js"></script> }}
  </body>
</html>