<div id="qkprmtnspg">
  <div id="qkprmtnspgcntnts">
    <div id="qkprmtnspgcntnts_img"><img
        src="dist/imgs/promotion_unavailable.webp"
        width="55"
      /></div>
    <p id="qkprmtnspgcntnts_txt">No Promotions Available</p>
  </div>
</div>