<div id="trmscndtnspg">
  <div id="trmscndtnspgcntnts">
    <p id="trmscndtnspgcntnts_ttl">Terms and Condtions</p>
    <p id="trmscndtnspgcntnts_ttldscrptn">
      Welcome to fmjr_stores. By accessing and using this website, you agree to
      comply with the guidelines outlined in these terms.Please respect this
      work by refraining from copying, redistributing, or modifying any material
      without prior written consent. We are committed to maintaining a safe,
      stable, and reliable environment for all users.
    </p>
    <br />

    <div id="trmscndtnspgcntnts_maintrmscndtns">
      <div id="trmscndtnspgcntnts_maintrmscndtns_cntnts">
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_dscrptncl">
          We expect users to engage responsibly and avoid any actions that could
          disrupt the website’s performance or compromise its security. When
          using interactive features, creating an account, or completing
          transactions, ensure the information you provide is accurate so we can
          deliver the best possible service. Our platform is continuously
          evolving, and we may update features or revise these terms as
          necessary. While we strive to provide uninterrupted access, services
          are offered as they are currently available.</p>
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_dscrptncl">The
          following are some of the stated Terms and Condtions of this site's
          services, resources and products;
        </p>
        <br />
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_ttlcl">1. Suspicious
          & Unauthorized Activity</p>
        <p
          class="trmscndtnspgcntnts_maintrmscndtns_cntnts_dscrptncl"
        >Misconduct, suspicious or unauthorized activity will result in account
          suspension or permanent ban. Automated bots, scripts, or
          machine-driven interactions on this site are strictly prohibited.
          Serious action will be taken against violations. For subscription
          users, misconduct such as failing to complete payments or ignoring
          instructions will not be tolerated unless valid reasons are provided
          and formally accepted.</p>
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_ttlcl">2.
          Subscriptions Refund Policy</p>
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_dscrptncl">Refunds
          for subscriptions will only be granted if the reasons are legitimate
          and approved. To account for time, resources, and operational costs,
          specific calculated amounts may be deducted from the total refund.</p>
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_ttlcl">3. Payments
          Issues</p>
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_dscrptncl">Payment
          service providers may occasionally experience technical issues or
          delays due to disclosed or undisclosed reasons. If such problems
          occur, allow us time to verify with our providers and system
          configurations. If no issues are found within our systems or
          providers, we cannot assume responsibility for payment failures. While
          such cases have not been recorded here, unforeseen circumstances can
          occur anywhere. To avoid complications, double-check your payment
          details and ensure all required information is accurate.</p>
        <p class="trmscndtnspgcntnts_maintrmscndtns_cntnts_dscrptncl">Rread
          these Terms and Conditions carefully. Any violation of the above
          policies will result in the actions outlined herein. Stated Terms and
          Condtions will be updated periodically, check for updates using this
          panel or notifications section. If you have any questions regarding
          these terms or the operation of the platform, you can reach out
          through provided social handles or the chat and messsages panel.</p>
      </div>
    </div>

  </div>
</div>